/* HTML Tags*/
body {
  font-family: 'Montserrat';
}

h1 {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-size: 15.rem;
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 400;
}

/* download buttons */
.downloadButton {
  margin: 5% 3% 5% 0;
}

/* title image */
.titleImage {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  down: 90px;
}

/*class Selectors*/
.container-fluid {
  padding: 3% 15%;
}

/* features section */
#features {
  padding: 7% 15%;
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
}

.feature {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin: 15px auto;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonals */
#testimonials {
  margin: 0 auto;
  text-align: center;
  background-color: #ef8172;
  color: #ffffff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* press section */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.pressLogo {
  width: 15%;
  margin: 20px 10px 50px;
}

#pricing {
  padding: 7% 24%;
  text-align:center;
}


@media only screen and (max-width: 1100px)
{
  .titleImage {
    width: 100%;
    transform: rotate(0deg);
    position: relative;
  }
